﻿@model ApartmentExpensesApplication.Models.ExpenseTracking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpenseTracking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
