﻿@model List<ApartmentExpensesApplication.Models.ExpenseTracking>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/dt-1.13.4/b-2.3.6/fc-4.2.2/sc-2.1.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/dt-1.13.4/b-2.3.6/fc-4.2.2/sc-2.1.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.js"></script>
<style>
    table{
        border:medium
    }
    th{
        border : medium

    }
    td{
        border:medium;
        padding:17px;
    }
 v
</style>
<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        $j('#UsersTable').DataTable({
            "scrollY": "450px",
            "scrollCollapse": true,
            "paging": true,
            "columns": [
                { "data": "ID" },
                { "data": "ExpenseDate" },
                { "data": "ExpenseType" },
                { "data": "ExpenseAmount" },
                { "data": "Description" },
                { "data": "Receipt" },
                { "data": "ResidenceID" },
                { "data": "Edit" },
                { "data": "Delete" },
                { "data": "Details" }
            ]
        })
    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="UsersTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>ExpenseDate</th>
            <th>ExpenseType</th>
            <th>ExpenseAmount</th>
            <th>Description</th>
            <th>Receipt</th>
            <th>ResidenceID</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Details</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.ExpenseDate
            </td>
            <td>
                @item.ExpenseType
            </td>
            <td>
                @item.ExpenseAmount
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Receipt
            </td>
            <td>
                @item.ResidenceID
            </td>

            <td class="buttonstyling">@Html.ActionLink("Edit", "Edit", new { ID = item.ID }) </td>
            <td class="buttonstyling">@Html.ActionLink("Delete", "Delete", new { ID = item.ID }) </td>
            <td class="buttonstyling">@Html.ActionLink("Details", "Details", new { ID = item.ID }) </td>
        </tr>
    }
</table>
